<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedApp</title>
    <link rel="stylesheet" href="./css/indexstyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
</head>
<body>
    <div class="topnav">
        <img src="./img/med.png" alt="" style="float:left;height: 55px;margin-left:20px;">
        <p style="float:left;color:white;font-size:24px;padding:0;margin-top:15px;">MedApp</p>
        <a class="active" href="/">Home</a>
        <a href="/logout">Deconectare</a>
    </div>
    <div class="imagine"></div>
    <table class="content-table">
        <thead>
          <tr>
            <th>Nr. comanda</th>
            <th>Nume</th>
            <th>Prenume</th>
            <th>Adresa</th>
            <th>Preluati</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<posts.length; i++) {%>
            <tr>
              <td><%= posts[i].ID%></td>
              <td><%= posts[i].NUME%></td>
              <td><%= posts[i].PRENUME%></td>
              <td><%= posts[i].ADRESA%></td>
              <td><a href="/comanda?id=<%= posts[i].ID%>">Accesati</a></td>
            </tr>
         <% } %>
        </tbody>
      </table>
    </div>
</body>
</html>